.root{
	-fx-background-color: linear-gradient(to top,#FFDF7C,#f7f4e9);
}
#zr2{
	-fx-background-color: "#FFFEFC";
	-fx-background-radius: 30;
	-fx-effect: dropshadow( three-pass-box , #D2D1C9, 8, 0 , 5, 5);
}

#IDScrollPane .viewport{
	-fx-background-color: "#FFFEFC";
	-fx-effect: dropshadow( three-pass-box , #A2A09F, 13, 0 , 7 , 7 );
	
	
	
}



#IDScrollPane .viewport{
	-fx-background-color: transparent;
}